@page "/present-groups"

<h3>Present Groups</h3>

@if (PresentGroupModels == null)
{
    <p>Loading...</p>
}
else
{
    <a class="btn btn-primary" href="/present-groups/create">Create New Present Group</a>
    <ul>
        @foreach (var group in PresentGroupModels)
        {
            <li>@group.Name</li>
            <li>
                <a class="btn btn-secondary" href="/present-groups/update/@group.Id">Update</a>
                <a class="btn btn-danger" href="/present-groups/delete/@group.Id">Delete</a>
            </li>
        }
    </ul>
}
